“html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%
}”

Excerpt From: Nate Murray. “Fullstack React with TypeScript.” Apple Books. 